<div class="search">
  <%= form_with url: :search, method: :get do |f| %>
    <div class="row g-2">
      <div class="col-5">
        <%= f.text_field :area, class: "form-control", placeholder: "エリア名を入力", value: "#{@area}" %>
      </div>
      <div class="col-1 multiply">
        <p>×</p>
      </div>
      <div class="col-5">
        <%= f.text_field :keyword, class: "form-control", placeholder: "キーワードを入力", value: "#{@keyword}"%>
      </div>
      <div class="col-1">
        <%= f.submit "検索", class: "button1" %>
      </div>
    </div>
  <% end %>
</div>
